;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; General Settings
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
APP_NAME = {{ gitea_app_name }}
RUN_USER = {{ gitea_user }}
RUN_MODE = {{ gitea_mode }}
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
{% for section_name, section_config in gitea_cfg.items() %}
;;;;;;;
[{{ section_name }}]
{% for option_name, option_value in section_config.items() %}
{% if option_value is boolean -%}
{% set option_value = option_value | ternary('true', 'false') %}
{% endif %}
{{ option_name }} = {{ option_value }}
{% endfor %}
{% endfor %}
