[Unit]
Description=Gitea (Git with a cup of tea)
After=syslog.target
After=network.target
{% if gitea_cfg['database']['HOST'].startswith('localhost:') or gitea_cfg['database']['HOST'].startswith('127.0.0.1:') -%}
{% if gitea_cfg['database']['DB_TYPE'] == 'mysql' -%}
After=mysql.service
{% elif gitea_cfg['database']['DB_TYPE'] == 'postgres' -%}
After=postgresql.service
{% endif %}
{% endif %}

[Service]
Type=simple
User={{ gitea_user}}
Group={{ gitea_user}}
WorkingDirectory={{ gitea_work_dir}}/
Environment=USER={{ gitea_user}}
Environment=HOME=/home/{{ gitea_user}}
Environment=GITEA_WORK_DIR={{ gitea_work_dir}}
ExecStart={{ gitea_install_dir }}/gitea web --config {{ gitea_config_dir }}/app.ini
Restart=always
RestartSec=2s

### BEGIN Extra config
{{ gitea_service_extra_cfg }}
### END Extra config

[Install]
WantedBy=multi-user.target
